.clearance {
    border: 2px solid rgb(52, 238, 52);
    background: rgb(218, 248, 179);
}

input {
    max-width: 50px;
}

td {
    vertical-align: middle;
}

.input-btn {
    vertical-align: middle; 
}

